<%= render partial:"users/sidebar"%>
<div class="alignment">
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      <h5 class="panel-title " >SignUp</h5>
    </div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true)  do |f| %>
        <%= devise_error_messages! %>
        
        <div id="first_name_error">
        </div>
        <div>
          <%= f.text_field :first_name,  :autofocus => true, :placeholder => "First Name" %>
        </div>
        
               
        <div>
          <%= f.text_field :last_name, :placeholder => "Last Name" %>
        </div>
        
        <div id="email_error">
        </div>
        <div>
          <%= f.email_field :email, :placeholder => "Email" %>
        </div>
        

        <div id="password_error">
        </div>
        <div>
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
        

        <div id="password_confirmation_error">
        </div>
        <div>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
        </div>
        

        <div>
          <%= f.text_field :phone, :placeholder => "Phone" %>
        </div>
       
        <div>
          <%= f.text_field :country, :placeholder => "Country" %>
        </div>
       
        <div>
          <%= f.text_field :state, :placeholder => "State" %>
        </div>
       
        <div>
          <%= f.text_field :city, :placeholder => "City" %>
        </div>
       
        <div>
          <%= f.text_field :address, :placeholder => "Address" %>
        </div>
        <div>
          <%= f.submit "Sign up", class: "btn btn-primary", onclick:"return validate_form()" %>
          
         <a href=<%=user_omniauth_authorize_path(:facebook)%> >
           <img src='/assets/facebookButt.jpg'>
         </a>
         <a href=<%=user_omniauth_authorize_path(:google_oauth2)%> >
           <img src='/assets/googleButt.jpg'>
         </a>  
          
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


<script>
  function validate_form()
  { var valid = true;
    var email = $("#user_email").val();
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if($("#user_first_name").val() == "")
    {
      $("#first_name_error").text("Please Enter First Name ").fadeIn(1000);
      valid = false;
    }
          
    if($("#user_email").val() == "")
    {
      $("#email_error").text("Please Enter Email ").fadeIn(1000);
      valid = false;
    }

    if(!filter.test($("#user_email").val()))
    {
      $("#email_error").text("Please provide a valid email address").fadeIn(1000);
      valid = false;
    }

    if($("#user_password").val() == "")
    {
      $("#password_error").text("Please Enter Password ").fadeIn(1000);
      valid = false; 
    }
    else
    {
      if($("#user_password").val().length < 8)
      {
        $("#password_error").text("Password length must be min 8 letters").fadeIn(1000);
        valid =false;
      }
    } 
    

    if($('#user_password_confirmation').val() == "")
    {
      $("#password_confirmation_error").text("Please Enter Confirmation Password ").fadeIn(1000);
      valid = false; 
    }
    else
    {
      if($("#user_password_confirmation").val().length < 8)
      {
        $("#password_confirmation_error").text("Password length must be min 8 letters").fadeIn(1000);
        valid = false;
      }
      else
      {
        if(!($("#user_password").val() == $('#user_password_confirmation').val()))
          {
            $("#password_confirmation_error").text("Password Not Match").fadeIn(1000);
            valid = false;
          }
      }
    }
    
  
  return valid;
}
  
</script>
