<div class="alignment">
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      <h5 class="panel-title">New User SignUp</h5>
    </div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div>
          <%= f.text_field :first_name, :placeholder => "First Name" %>
        </div>

        <div>
          <%= f.text_field :last_name, :placeholder => "Last Name" %>
        </div>
        
        <div>
          <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>
        </div>

        <div>
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
        </div>

        <div>
          <%= f.text_field :phone, :placeholder => "Phone" %>
        </div>
       
        <div>
          <%= f.text_field :country, :placeholder => "Country" %>
        </div>
       
        <div>
          <%= f.text_field :state, :placeholder => "State" %>
        </div>
       
        <div>
          <%= f.text_field :city, :placeholder => "City" %>
        </div>
       
        <div>
          <%= f.text_field :address, :placeholder => "Address" %>
        </div>
        
        <div>
          <%= f.submit "Sign up", class: "btn btn-primary" %>
          <%= link_to "Fb", user_omniauth_authorize_path(:facebook), class:"btn btn-info" %>
          <%= link_to image_tag('/assets/facebookButt.jpg'), user_omniauth_authorize_path(:facebook), :class => 'quick', :remote => true %>
          <%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), class:"btn btn-info" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
