<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <%= @products.each do |p|%>
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= p.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
    <dd><%= p.price %></dd>
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= p.description %></dd>
  <%end%> 
</dl>

<div class="form-actions">
  <%= link_to "back",home_users_path, :class => 'btn'  %>
</div>
