<%= render partial:"users/sidebar" %>
<div class="alignment">
  <%= will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
  <% @users.each do |user|%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title">UserID:- <%= user.id%></h5>
      </div>
      <div class="panel-body">
        <div>First Name:- <%= user.first_name%></div></br>
        <div>Last Name:- <%= user.last_name%></div></br>
        <div>Email:- <%= user.email%></div></br>
        <div>Phone:- <%= user.phone%></div></br>
        <div>Country:- <%= user.country%></div></br>
        <div>State:- <%= user.state%></div></br>
        <div>City:- <%= user.city%></div></br>
        <div>Address:- <%= user.address%></div></br>
        <div>Last signedIn At:- <%= user.last_sign_in_at.strftime("%d/%m/%Y")%></div>
        <%= link_to "Remove User", user_path(user), method:"delete",  class:"btn btn-danger" %>
      </div>
    </div>
  <%end%>  
  <%= will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
</div>
