<%= render partial:"users/sidebar" %>
<div class="alignment">
<%= nested_form_for @product do |f| %>
 <div class="control-group">
    <lable>Select category</lable>
    <div class="controls">
      <%= f.select :category_ids, Category.all.collect {|c| [c.name, c.id]}, {}, :multiple => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div>
     <%= f.fields_for :pictures do |pic| %>
      <%= pic.file_field :image %>
      <%= pic.link_to_remove "Remove this image" %>
    <% end %>
    <p><%= f.link_to_add "Add a image", :pictures %></p>
    </br>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                welcome_users_path, :class => 'btn' %>
  </div>
<% end %>
</div> 
