<%= render partial:"users/sidebar" %>
<div class="alignment">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="panel-title">Add New Product</h5>
    </div>
    <div class="panel-body">
      <%= nested_form_for @product do |f| %>
        <div class="control-group">
          <lable>Select category</lable>
          <div class="controls">
          <div id="category_error"></div>
          <%= f.select :category_ids, Category.all.collect {|c| [c.name, c.id]}, {}, :multiple => true %>
        </div>
      </div>
        
        <div class="control-group">
          <div class="controls">
            <div id="name_error"></div>
            <%= f.text_field :name, :class => 'text_field', :placeholder => "Name" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div id="price_error"></div>
            <%= f.text_field :price, :class => 'number_field', :placeholder => "Price" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.text_area :description, :class => 'text_area', :placeholder => "Description" %>
          </div>
        </div>
        
        <div>
          <%= f.fields_for :pictures do |pic| %>
            <%= pic.file_field :image %>
          <% end %>
          </br>
        </div>

        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary',onclick:"return validate_form()" %>
          <%if @product.id%>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),products_path, :class => 'btn' %>
          <%else%>  
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),welcome_users_path, :class => 'btn' %>
          <%end%>  
        </div>
      <% end %>
    </body>
  </div>  
</div> 
<script>
  function validate_form()
  { var valid = true;
    if($("#product_category_id").val() == "")
    {
      $("#category_error").text("Please select category ").fadeIn(1000);
      valid = false;
    }
          
    if($("#product_name").val() == "")
    {
      $("#name_error").text("Please Enter Name Of Product ").fadeIn(1000);
      valid = false;
    }
    
    if($("#product_price").val() == "")
    {
      $("#price_error").text("Please Enter Price Of Product ").fadeIn(1000);
      valid = false;
    }
    return valid;
  }
</script>
