<%- model_class = Product -%>

  <%=link_to "show cart",display_cart_products_path(:id=>@category.id), class:"btn btn-default"%>
  <ul class="products">
    <% @products.each do |p|%>
      <% p.pictures.each do |i|%>
        <li class="thumbnail">
        <a href=<%=product_details_products_path%>?id=<%=p.id%>> 
          <%= image_tag(i.image,:size => "80x60")%>
          <h5><%=p.name%></h5>
          <p>Price:<%=p.price%></p>
        </a>
        <div><div id='<%=p.id%>'></div><div>
        <button class="addcart" data-id='<%=p.id%>'>Add to cart</button>
       </li>
      <% end %>        
    <% end %> 
  </ul>   
  <div class="form-actions">
    <%= link_to "back",root_path%>
  </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
  $(document).ready(function(){
    $(".addcart").click(function(){
      id = $(this).data('id');
      $.get('/products/add_to_cart?id='+id);
    });
  });
</script>
<style>
  ul.products li {
      width: 200px;
      display: inline-block;
}
</style>
