<%= render partial:"users/sidebar"%>
<div class="product-alignment">
  <ul class="products">
    <% @products.each do |p|%>
      <li class="thumbnail">
        <a href=<%=product_path(:id=>p.id) %> > 
          <%= image_tag(p.pictures.first.image,:size => "166x194")%>
          <h5><%=p.name%></h5>
          <p>Price:<%=p.price%></p>
        </a>
        <div><div id='<%=p.id%>'></div><div>
        <%if current_user.present?%>
        <button class="addcart btn btn-info" data-id='<%=p.id%>'>Add to cart</button>
        <%end%>
      </li>
    <% end %>
  </ul>
</div>     
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
  $(".addcart").click(function(){
    id = $(this).data('id');
    $.get('/products/add_to_cart?id='+id);
  });
  
  function show_error(){
    alert("Cart is empty");
  }

</script>


