<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <% if current_user.present?%>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "SignOut",destroy_user_session_path, :method => :delete%></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><%= link_to  "OnlineShopping" , current_user.is_admin ? welcome_users_path : "/", class:"logo" %> </li>
          <li><%= link_to "UserProfile",edit_user_registration_path%></li>
          <%unless current_user.is_admin%>
            <li><%= link_to "Previous Orders", orders_path%></li>
          <%end%>
          <li><%= link_to "Welcome "+current_user.first_name,"#"%></li>
        </ul>
        <% unless current_user.is_admin%>
          <%= render partial:"layouts/search_product"%>
        <% end %>
      <% else %>
        <ul class="nav navbar-nav">
          <li><%= link_to  "OnlineShopping" ,"/", class:"logo" %></li>
          <li><%= link_to "SignIn",new_user_session_path %></li>
          <li><%= link_to "SignUp",new_user_registration_path %></li> 
        </ul> 
      <% end %>
      <% unless current_user.present? %>
        <%= render partial:"layouts/search_product"%>
      <% end %>
    </div>
  </nav>
