<!DOCTYPE html>
<html>
<head>
  <title>OnlineShopping</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<style>
  a{
    margin-right:20px;
    }    
</style>
<body style="background-color:#F5F5F5">
  <nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <% if current_user.present?%>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "SignOut","/users/sign_out", :method => :delete%></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><%= link_to  "Home" , current_user.is_admin ? "/users/welcome" : "/users/home" %></li>
          <li><%= link_to "UserProfile",edit_user_registration_path%></li>
          <%unless current_user.is_admin%>
            <li><%= link_to "Previous Orders", orders_path%></li>
          <%end%>
          <li><%= link_to "Welcome "+current_user.first_name,"#"%></li>
        </ul>
        <% if current_user.is_admin%>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        <%end%>
      <%else%>
        <ul class="nav navbar-nav">
          <li><%= link_to "SignIn","/users/sign_in"%></li>
          <li><%= link_to "SignUp","/users/sign_up"%></li> 
        </ul> 
      <%end%>              
    </div>
  </nav>
<%= yield %>

</body>
</html>
